html{scroll-behavior: smooth;}
body{background-color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#header-buttons{word-spacing: 30px;display:flex;margin: 4px 2px;}
.button
{border: 1px;padding: 15px 20px;
  text-align: center;cursor: pointer;font-size: 14px;font-weight: bold;letter-spacing: 1px;
  border-radius: 25px;background-color: whitesmoke;color: black;
}
button:hover
{
    color: brown;
    -webkit-transform: translateY(-4px);transform: translateY(-4px);
    cursor: pointer;letter-spacing: 2px;
  }
#bakery-name
{text-align:right;font-size:24px;color: white; background-color: brown;background-origin: content-box; 
  letter-spacing: 5px;}
#bakerspoint-notice
{text-align:center;line-height: 1.5;font-size: 24px;}
header
{text-align: center;font-size: 68px;background-color: whitesmoke;position: -webkit-sticky;position: sticky;
  top: 0;font-weight: 900;width: 100%;overflow: hidden;
}
#page-content
{text-align: center;width: auto;margin: auto;color: black;padding:3px; 
  height:35px;font-size: 36px;font-weight: 700;
}
#bakerspoint-help-note{line-height: 1.8 ;font-weight: 300;}
footer{line-height: 1.5;font-size: 18px;padding-top: 10px;padding-bottom:25px;
    color: sienna;background-color: bisque;}
.split-container{width: 100%;display: flex; height: auto;}
.split-container::after{content: "";display: table;clear: both;}
.split-half{float: left;width: 50%;margin: auto;height: 100%;padding-top: 15px;padding-bottom: 20px;padding-left: 15px;}
.footer-left, .footer-middle{float: left;width: 33%;}
.footer-middle{text-align: center;}
#translate-page{padding-top: 15px;}
#footer-middle-content{line-height: 1.8;}
.footer-right
{float: right;width: 33%;text-align: right;word-spacing: 10px; }
.footer-container{width: 100%;display: flex;}
.footer-container::after{content: "";display: table;clear: both;}
@media (max-width: 800px) 
{
  .split-half, #page-content, header{width: 90%;height: auto;float: left;padding-top: 50px;border: none;}
    .footer-container,.split-container{display: inline-block;}
    #header-buttons{overflow:scroll;}
}
select{width: 246px;}
input, select
{
  box-sizing: border-box;border: 0.5px solid greenyellow;
  -webkit-transition: 0.5s;
  transition: 0.5s;outline: none;border-radius: 5px;padding: 3px;
}
